<%= form_for(@some_model) do |f| %>
  <% if @some_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@some_model.errors.count, "error") %> prohibited this some_model from being saved:</h2>

      <ul>
      <% @some_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :somedata1 %><br />
    <%= f.text_field :somedata1 %>
  </div>
  <div class="field">
    <%= f.label :somedata2 %><br />
    <%= f.text_field :somedata2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
