<h1>Listing some_models</h1>

<table>
  <tr>
    <th>Somedata1</th>
    <th>Somedata2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @some_models.each do |some_model| %>
  <tr>
    <td><%= some_model.somedata1 %></td>
    <td><%= some_model.somedata2 %></td>
    <td><%= link_to 'Show', some_model %></td>
    <td><%= link_to 'Edit', edit_some_model_path(some_model) %></td>
    <td><%= link_to 'Destroy', some_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Some model', new_some_model_path %>
