<p id="notice"><%= notice %></p>

<p>
  <b>Somedata1:</b>
  <%= @some_model.somedata1 %>
</p>

<p>
  <b>Somedata2:</b>
  <%= @some_model.somedata2 %>
</p>


<%= link_to 'Edit', edit_some_model_path(@some_model) %> |
<%= link_to 'Back', some_models_path %>
